- var terms = 'beer,pint,brew'
html
  head
    title Beer Events Scraper
  body
    h1 Beer Events Scraper
    ul
      each region in ['Charlotte','Coast','Mountains','Triangle','Triad']
        - var url = "/"+region+"/"+terms
        li
          a(href=url) #{region}
          | ,&nbsp
          a(href=url+'/csv') CSV
